:global(.token) {

    width: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // margin: 0 1.5rem;

    background: white;
    margin-bottom: .4rem;
    padding: 0 1rem;
    font-size: 1.275rem;
    border-radius: 20px;


}

:global(.token_top) {

    width: calc(100% - 2rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // margin: 0 1.5rem;
    height: 2.4rem;
    font-size: 1.275rem;


}

:global(.token_name) {

    width: 60px;

}

:global(.token_actions) {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 60px;

}

:global(.token_form) {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: .75rem 0;
    width: 240px;

    :global(select) {    
        width: 100%;
        margin: .25rem 0;
        background: none;
        border: none;

        :global(option) {

            padding: .25rem 0;
        }
        
    }   

    :global(input) {    
        width: 100%;
        padding: .5rem 0;
        margin: .5rem 0;
        background: none;
        border: none;
        border-bottom: 2px solid black;
        border-radius: 0px;

    }   

    :global(button) {    
        // width: 100%;
        margin: .5rem 0 .5rem 0;
        // background: none;
        // border: none;
        
    }   
}