$lime : #E7E76A;
$green : #7DD856;

$flame-yellow: #fbab18;
$bright-yellow: #ffcd03;

$bright-red: #dd1a21;

$bright-blue: #006cb7;

$earth-green: #004a2d;

// https://1.bp.blogspot.com/-aQauElTPaCg/YL_mdg37mqI/AAAAAAAAMQI/kcwwNj-Qr9EYV4HfnNnPJPtZc299246oACLcBGAsYHQ/s1600/Lego%2BColors%2Bpicture.jpg

