
:global(form) {

    :global(input) {
        padding: .75rem;
        min-width: 240px;
        width: calc(100% - 1.5rem);
    }

    :global(textarea) {
        border: none;
        padding: .75rem;
        min-width: 240px;
        width: calc(100% - 1.5rem);
        line-height: 1.35;
    }
}               